<!--
<script type="text/javascript">
  $(document).ready(function () {
    $("#btn-choice").click(function() {
      //alert("test");
      /*
      var lobby_url = "{% url 'lobby_show' lobby.pk %}";
      var num = $(e.target).data("choice-num");
      $.post(lobby_url,
        {'command' : 'submit_answer'}
        {'choice_id' : num},
        window.quiz.handle_ajax_response);
*/
    });
  });
</script>
-->

<div class="jumbotron">
    <h2>{{ quiz.caption }}</h2>
    <div id="quiz-content-container">
      <p>{{ quiz.get_content|safe}}</p>
    </div>
</div>

<div>
  {% for choice in choices %}
    <div class="row ans-row">
      <div class="col-xs-2 ans-num"><h3>{{ forloop.counter }}:</h3></div>
      <div class="col-xs-10"><button class="btn btn-primary btn-lg btn-block btn-choice" data-choice-num="{{ forloop.counter }}">{{ choice.content|safe }}</button></div>
    </div>
  {% endfor %}
</div>
