{% extends "quiz/base.html" %}
{% load static %}
{% block title %}Quizroom{% endblock %}

{% block page_js %}
	<style type="text/css">
		th{
			text-align: center;
    	    font-size: 16px;
		}
		td{
			text-align: center;
			vertical-align: top;
			font-size: 20px;
		}
	</style>

	<script src="{% static "d3/d3.min.js" %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			//ランキング表作成
			function makeRanking(data){
				for(var i in data){
					var msg;
					if(data[i].is_you){
						msg = '<tr class="success">';
					} else {
						msg = '<tr>';
					}
					msg = msg + '<td>' + data[i].rank + '</td>';
					msg = msg + '<td>' + data[i].name + '</td>';
					msg = msg + '<td>' + data[i].score + '</td>';
					msg = msg + '</tr>';
					$("table#ranking tbody").append(msg);
				}
			}

			//GET後ランキング表を表示
			$.get('{% url 'lobby_show' lobby.pk %}',
				{
					'type' : 'query',
					'command' : 'score_list'
				},
				function(data){
					window.quiz.default_ajax_handler(data);
					if(data.status == 'ok'){
						makeRanking(data.content);
					}
			});
		});
	</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" align="center">
                <h2>Ranking</h2>
            </div>
            <table id="ranking" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>rank</th>
                        <th>name</th>
                        <th>score</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock%}
