
{% extends "quiz/base.html" %}

{% block title %}Quizroom{% endblock %}

{% block page_js %}
	<style>
		th{
			text-align: center;
    	    font-size: 16px;
		}
		td{
			text-align: right;
			vertical-align: top;
			font-size: 15px;
		}
	</style>

	<script src="{% static "d3/d3.min.js" %}"></script>
	<script type="text/javascript">
		$(document.ready(function(){

			//棒グラフ用にJSON整形
			function chJSON(data){
				for(){
				}
				return;
			}
			
			//結果を棒グラフで表示
			function makeBar(data){
				$("#bar-demo").empty();
				var barWidth = 50;
				var width = (barWidth + 10) * data.length;
				var height = 200;
				var x = d3.scale.linear().domain([0, data.length]).range([0, width]);
				var y = d3.scale.linear().domain([0, d3.max(data, function(d) { return d.total; })]).rangeRound([0, height]);
				// グラフを表示するsvgエリアを作成
				var barDemo = d3.select("#bar-demo")
					.append("svg:svg")
						.attr("width", width)
						.attr("height", height+20);
				//棒グラフの表示
				barDemo.selectAll("rect")
					.data(data)
					.enter()
					.append("svg:rect")
						.attr("x", function(d, i) { return x(i); })
						.attr("y", function(d) { return height - y(d.total); })
						.attr("height", function(d) { return y(d.total); })
						.attr("width", barWidth)
						.attr("fill", "#2d578b");	    
				//投票数を表示    
				barDemo.selectAll("text")
					.data(data)
					.enter()
					.append("svg:text")
						.attr("x", function(d, i) { return x(i) + barWidth; })
						.attr("y", function(d) { return height - y(d.total); })
						.attr("dx", -barWidth/2)
						.attr("dy", "1.2em")
						.attr("text-anchor", "middle")
						.text(function(d) { return d.total;})
						.attr("fill", "white");
							    
				//問題数を表示    
				barDemo.selectAll("text.yAxis")
					.data(data)
					.enter()
					.append("svg:text")
						.attr("x", function(d, i) { return x(i) + barWidth; })
						.attr("y", height)
						.attr("dx", -barWidth/2)
						.attr("text-anchor", "middle")
						.attr("style", "font-size: 20; font-family: Helvetica, sans-serif")
						.text(function(d) { return d.quiznum;})
						.attr("transform", "translate(0, 20)")
						.attr("class", "yAxis");
			}

			//ランキング表作成
			function makeRanking(data){
				for(var i in data){
					msg = '<tr>';
					msg = msg + '<td>' + data[i].rank + '<td>';
					msg = msg + '<td>' + data[i].name + '</td>';
					msg = msg + '<td>' + data[i].participant_id + '</td>';
					msg = msg + '<td>' + data[i].score + '</td>';
					msg = msg + '</tr>';
					$("table#tgt-table tbody").append(msg);
				}
			}

			//GETしてscore_list取得
			
			$.get('{% url 'lobby_show' lobby.pk %}',
				{
					'type' : 'query',
					'command' : 'list_score'
				},
				function(data){
					window.quiz.default_ajax_handler(data);
					var obj = JSON.parse(data);
					if(obj.status == 'ok'){
						for(var i in data){
							makeRanking(data.content);
						}
					}
				});
		});	
	</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-5">
        <div class="jumbotron" align="center">
            <p><h2>{{ quiz.caption}}</h2></p>
            <p><h3>{{ quiz.get_content|safe }}</h3></p>
        </div>
        <div id="bar" class="jumbotron" align="center" style="padding-bottom:20px">
            <p><h2>結果</h2></p><br>
        </div>
    </div>
    <<div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading" align="center">
                <h2>Ranking</h2>
            </div>
            <table id="tgt-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>rank</th>
                        <th>name</th>
                        <th>answer</th>
                        <th>score</th>
                        </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>i

{% endblock%}
