<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Quizroom{% endblock %}</title>
  <!-- Bootstrap -->
  <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link href="{% static "quiz/css/notifIt.css" %}" rel="stylesheet">
  <link href="{% static "quiz/css/quizcontent.css" %}" rel="stylesheet">
</head>
<body>
<!-- NAVBAR -->
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">{% block navbar_title %}Quizroom{% endblock %}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="nav-quiznow"><a href="{% url 'lobby_now' %}">クイズ</a></li>
        <li id="nav-ranking"><a href="#about">ランキング</a></li>
        <li id="nav-mypage"><a href="#contact">マイページ</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<!-- CONTENTS -->
<div class="container">
  <div id="content">
    {% block content %}
      [[NOCONTENT]]
    {% endblock %}
  </div>
</div>
<!-- Scripts -->
<script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "underscore/underscore.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "jquery-cookie/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "backbone/backbone.js" %}"></script>
<script type="text/javascript" src="{% static "backbone.stickit/backbone.stickit.js" %}"></script>
<script type="text/javascript" src="{% static "quiz/js/notifIt.js" %}"></script>
<script type="text/javascript">
  // Initialize values
  var quiz = {};
  quiz.common = {
    navbar_active: '{{ navbar_active }}',
  };

  quiz.Navbar = {
    username: '{{ username }}'
  };
</script>
<script type="text/javascript" src="{% static "quiz/js/common.js" %}"></script>
<script type="text/javascript" src="{% static "quiz/js/base.js" %}"></script>
{% block page_js %}{% endblock %}
</body>
</html>