<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Quizroom{% endblock %}</title>
  <!-- Bootstrap -->
  <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "underscore/underscore.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "jquery-cookie/jquery.cookie.js" %}"></script>
  <script type="text/javascript" src="{% static "quiz/common.js" %}"></script>

</head>
<body>
<!-- NAVBAR -->
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">{% block navbar_title %}Quizroom{% endblock %}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'lobby_now' %}">Now</a></li>
        <li><a href="#about">Ranking</a></li>
        <li><a href="#contact">Your Answers</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<!-- CONTENTS -->
<div class="container">
  {% block content %}
    [[NOCONTENT]]
  {% endblock %}
</div>

{% block page_js %}{% endblock %}
</body>
</html>