{% extends "quiz/base.html" %}

{% block title %}Quizroom{% endblock %}

{% block page_js %}
  <script type="text/javascript">
    $(document).ready(function () {
      $("#start-default-robby").click(function () {
        $.post('{% url 'lobby_now' %}', {'id': 'default'},
                function (data) {
                  alert(data);
                });
      });

      $(".lobby-start").click(function(e){
        var lobby_pk = $(e.target).data('lobby-pk');
        $.post('/lobby/control/' + lobby_pk, {'command': 'activate'},
                function (data) {
                  alert(data);
                });
      });
    });
  </script>
{% endblock %}

{% block content %}
  <h3>Game control</h3>
  <h3>DEBUG</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Lobby ID</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for lobby in lobbies %}
      <tr>
        <td>{{ lobby.id }}</td>
        <td>{{ lobby.status }}</td>
      <td>
        <a href="{% url 'lobby_show' lobby.pk %}" class="btn btn-primary">Show</a>
        <a href="{% url 'lobby_control' lobby.pk %}" class="btn btn-info">Control</a>
        <button class="btn btn-info lobby-start" data-lobby-pk="{{ lobby.pk }}">Start</button>
      </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
