<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" align="center">
                <h2>Ranking</h2>
            </div>
            <table id="ranking" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>rank</th>
                        <th>name</th>
                        <th>score</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
