.ans-row{
	margin-bottom: 10px;
}

.ans-num{
	text-align: center;
	vertical-align: middle;
}

button > .img-responsive {
    margin: 0 auto;
}

th{
	text-align:center;
	font-size: 16px;
}

td{
	text-align:center;
	vertical-align: top;
	font-size: 20px;
}
