{% extends "quiz/base.html" %}

{% block title %}Quizroom{% endblock %}

{% block page_js %}
  <script type="text/javascript">
    $(document).ready(function () {
      var control_url = "{% url 'lobby_control' lobby.pk %}";
      $("#commands button").click(function(e){
        var command = $(e.target).data("command");
        $.post(control_url, {'command': command}, function (data) {
          quiz.default_ajax_handler(data);
          location.reload();
        });
      });
    });
  </script>
{% endblock %}

{% block content %}
  <h3>Lobby control</h3>
  <div id="commands">
    <button data-command="activate" class="btn btn-default">ロビー初期化</button>
    <button data-command="start_quiz" class="btn btn-default">問題開始</button>
    <button data-command="close_submission" class="btn btn-default">解答提出締め切り</button>
    <button data-command="show_scores" class="btn btn-default">現在順位発表へ</button>
    <button data-command="next" class="btn btn-default">次の問題へ</button>
  </div>
  <dl class="dl-horizontal">
    <dt>Start Time</dt>
    {% if lobby.started_time %}
      <dd>{{ lobby.started_time }}</dd>
    {% else %}
      <dd>-</dd>
    {% endif %}
    <dt>Finish Time</dt>
    {% if lobby.started_time %}
      <dd>{{ lobby.finished_time }}</dd>
    {% else %}
      <dd>-</dd>
    {% endif %}
  </dl>
  <h4>Quizes</h4>
  <div id="quiz-list">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Caption</th>
        <th>Opened at</th>
        <th>Closed at</th>
        <th>IsActive</th>
        <th>IsAccepting</th>
      </tr>
      </thead>
      <tbody>
      {% for quiz in lobby.quizes %}
        <tr>
          <td>{{ quiz.index }}</td>
          <td>{{ quiz.caption }}</td>
          <td>{{ quiz.opened_at }}</td>
          <td>{{ quiz.closed_at }}</td>
          {% if quiz.is_active %}
            <td>Active</td>
          {% else %}
            <td>-</td>
          {% endif %}
          <td>{{ quiz.is_accepting }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <h4>Players <small>({{ lobby.players.all|length }})</small></h4>
  <table class="table">
    <thead>
    <tr>
      <th>Rank</th>
      <th>Score</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for score_entry in lobby.score_list %}
      <tr>
        <td>{{ score_entry.rank }}</td>
        <td>{{ score_entry.score }}</td>
        <td>{{ score_entry.participant }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
