{% extends "quiz/base.html" %}

{% block title %}Quizroom{% endblock %}

{% block page_js %}
  <script type="text/javascript">
    $(document).ready(function () {
      var control_url = "{% url 'lobby_control' lobby.pk %}";
      $("#activate-lobby").click(function () {
        $.post(control_url, {'command': 'activate'}, function (data) {
          quiz.default_ajax_handler(data);
          location.reload();
        });
      });
      $("#next-quiz").click(function () {
        $.post(control_url, {'command': 'next'}, function (data) {
          quiz.default_ajax_handler(data);
          location.reload();
        });
      });
    });
  </script>
{% endblock %}

{% block content %}
  <h3>Lobby control</h3>
  <button id="activate-lobby" class="btn btn-default">ロビー初期化</button>
  <button id="close-submission" class="btn btn-default">提出締め切り</button>
  <button id="next-quiz" class="btn btn-default">次の問題へ</button>
  <dl class="dl-horizontal">
    <dt>Start Time</dt>
    {% if lobby.started_time %}
      <dd>{{ lobby.started_time }}</dd>
    {% else %}
      <dd>-</dd>
    {% endif %}
    <dt>Finish Time</dt>
    {% if lobby.started_time %}
      <dd>{{ lobby.finished_time }}</dd>
    {% else %}
      <dd>-</dd>
    {% endif %}
  </dl>
  <h4>Quizes</h4>
  <div id="quiz-list">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Caption</th>
        <th>IsActive</th>
      </tr>
      </thead>
      <tbody>
      {% for quiz in lobby.quizes %}
        <tr>
          <td>{{ quiz.index }}</td>
          <td>{{ quiz.caption }}</td>
          {% if quiz.is_active %}
            <td>Active</td>
          {% else %}
            <td>-</td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <h4>Players <small>({{ lobby.players.all|length }})</small></h4>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for part in lobby.participants %}
      <tr>
        <td>{{ part.name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
