{% extends "quiz/base.html" %}
{% load static %}

{% block title %}Quizroom{% endblock %}

{% block page_js %}
  <script type="text/javascript">
    window.quiz.lobby_id = '{{ lobby.pk }}';
    window.quiz.lobby_token = null; // TODO: set token here.

    $(document).ready(function () {
        $(".btn-choice").click(function() {
        var lobby_url = "{% url 'lobby_show' lobby.pk %}";
        var num = $("#btn-choice1").data("choice-num");
        console.log(num);
        /*
        $.post(lobby_url, {'command' : 'submit_answer','choice_id' : num}, function(data){
                //quiz.handle_ajax_handler(data));
                //alert(data);
            });
*/
        });
    });
  </script>
  <script src="{% static 'quiz/js/lobby.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
  Hello {{ participant.name }}
  {% include 'quiz/quiz/view.html' %}
{% endblock %}
